<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="@monaca/monaca-plugin-barcode-scanner" version="1.2.0" >
  <name>@monaca/monaca-plugin-barcode-scanner</name>
  <description>MonacaBarcodeScannerPlugin</description>
  <author>Asial Corporation</author>
  <license>Apache-2.0</license>
  <engines>
    <engine name="cordova" version=">=11.0.0"/>
  </engines>

    <js-module src="www/barcode_scanner.js" name="monaca.BarcodeScanner">
        <clobbers target="monaca.BarcodeScanner" />
    </js-module>

  <!-- android -->
  <platform name="android">
    <preference name="CAMERA_LIBRARIES_VERSION" default="1.1.0-beta02"/>
    <framework src="androidx.constraintlayout:constraintlayout:2.1.3" />
    <framework src="androidx.camera:camera-camera2:$CAMERA_LIBRARIES_VERSION" />
    <framework src="androidx.camera:camera-view:$CAMERA_LIBRARIES_VERSION" />
    <framework src="androidx.camera:camera-lifecycle:$CAMERA_LIBRARIES_VERSION" />
    <framework src="com.google.mlkit:barcode-scanning:17.0.2" />
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MonacaBarcodeScannerPlugin" >
        <param name="android-package" value="io.monaca.plugin.barcodescanner.BarcodeScanner"/>
      </feature>
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/*" >
      <uses-permission android:name="android.permission.CAMERA" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="application">
      <activity android:name="io.monaca.plugin.barcodescanner.BarcodeScannerActivity" android:theme="@style/Theme.AppCompat.NoActionBar" />
    </config-file>

    <source-file src="src/android/BarcodeScanner.java" target-dir="src/io/monaca/plugin/barcodescanner" />
    <source-file src="src/android/BarcodeScannerActivity.java" target-dir="src/io/monaca/plugin/barcodescanner" />
    <source-file src="src/android/ImageUtils.java" target-dir="src/io/monaca/plugin/barcodescanner" />
    <resource-file src="src/android/res/layout/activity_barcode_scanner.xml" target="res/layout/activity_barcode_scanner.xml" />
    <resource-file src="src/android/res/drawable/rectangle.xml" target="res/drawable/rectangle.xml" />
    <resource-file src="src/android/res/drawable/round_btn.xml" target="res/drawable/round_btn.xml" />
  </platform>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="MonacaBarcodeScannerPlugin">
        <param name="ios-package" value="CDVBarcodeScanner"/>
      </feature>
    </config-file>
    <header-file src="src/ios/CDVBarcodeScanner.h"/>
    <source-file src="src/ios/CDVBarcodeScanner.m"/>
    <source-file src="src/ios/BarcodeScannerViewController.h"/>
    <source-file src="src/ios/BarcodeScannerViewController.m"/>
  </platform>
</plugin>
